:root{
    --headerBackground:#373F4A;
    --buttonBackground:#D9CEC5;
    --preto:#212529;
}
.divMainPage{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.header{
    position:fixed;
    background-color:var(--headerBackground);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}
.header>img:hover{
    cursor: pointer;
}
.header>button{
    background-color: transparent;
    color: var(--buttonBackground);
    border:1px solid var(--buttonBackground);
    border-radius: 5px;
    width: 60px;
    height: 5vh;
}
.header>button:hover{
    transition: all 0.4s;
    background-color: var(--buttonBackground);
    color: var(--headerBackground);
    cursor:pointer;
}

/*BODY*/
.body{
    background-color:var(--preto) ;
    color:white;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    margin-top: 15vh;
    text-align: start;
    color:black;
    background-color: white;
    width: 360px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 5px;
}
.divForm{
    display: flex;
    flex-direction: column;
}
.form>input[type="text"]{
    background-color:#F8F9FA;
    border-style: none;
    border-radius: 8px;
    width: 300px;
    height: 50px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 15px;
}
.form>span{
    margin-bottom: 3vh;
}
.form>div>section>input[type="number"], select{
    background-color:#F8F9FA;
    border-style: none;
    border-radius: 8px;
    width: 130px;
    height: 50px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 15px;
}
.form>div{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form>div>section{
    display:flex;
    flex-direction:column;
}
.form>input[type="submit"]{
    border-style: none;
    width: 85%;
    height: 50px;
    background-color: var(--headerBackground);
    color: white;
    border-radius: 7px;
    font-size: 16px;
    
}
.form>input[type="submit"]:hover{
    cursor: pointer;
}
/*FIM FORM*/

.divList{
    width: 650px;
    margin-left: 30px;
    margin-top: 15vh;
}
.divList>ul>.NoCard,.divList>ul{
    
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    
    overflow-y: auto;
}
.divList>ul::-webkit-scrollbar{
    height: 20px;
    width: 14px;
}
.divList>ul::-webkit-scrollbar-track{
    background-color: #212529;
    border-radius: 10px;
}
.divList>ul::-webkit-scrollbar-thumb{
    background-color: #212529;
    border-radius: 10px;
    border:1px solid #E9ECEF;
}
.headerList{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerList>ul{
   
    width: 50%;
    display: flex;
    justify-content:space-around;
    list-style: none;
}
.headerList>ul>li>button{
    background-color: var(--buttonBackground);
    color:#5B6166;
    border-style: none;
    width: 80px;
    height: 6vh;
    border-radius: 8px;
}
.headerList>ul>li>button:hover{
    cursor: pointer;
}
.headerList>ul>li>button:focus{
    background-color: var(--headerBackground);
    color:white;
    transition:all 0.5s
}
.divList>ul>li{
    list-style: none;
    width: 100%;
}
.card{
    background-color: var(--headerBackground);
    color: var(--buttonBackground);
    margin-bottom:5vh;
    height: 13vh;
    border-radius: 10px;
    border-left: 5px solid #03B898; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.card>button{
    background-color: var(--buttonBackground);
    border-style: none;
    height: 5vh;
    width: 30px;
    border-radius: 5px;
}
.card>button:hover{
    cursor: pointer;
}
.card>section{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.card>section>.desc{
    font-size: 20px;
    font-weight: 750;
}
.Despesa{
    border-left: 5px solid #d31d10; 
}
.containerGeral{
    max-width: 350px;
    display: flex;
    justify-content: space-around;
}
.containerEntrada{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerEntrada>div{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #03B898;
}
.containerSaida{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSaida>div{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #d31d10;
}
.valorTotal{
    max-width: 350px;
    text-align: center;
    margin-top: 2vh;
}
.valorTotal>span{
    font-size: 18px;
}