:root{
    --bege:#D9CEC5;
    --preto:212529;
}
body{
    background-color: var(--preto);
    color: white;
}
.App{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.divText{
    width: 350px;
    height: 40vh;
    text-align: start;
}
.btnIniciar{
    background-color: transparent;
    color: var(--bege);
    border: 1px solid var(--bege);
    width: 250px;
    height: 7vh;
    border-radius: 5px;
    margin-top: 5vh;
    font-size: 20px;
}
.btnIniciar:hover{
    background-color: var(--bege);
    color: var(--preto);
    transition: all 0.4s;
}
@media only screen and(max-width:500px){

}